* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #383838;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.325;
  font-weight: 300;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

h1 { font-size: 250%; }
h2 { font-size: 200%; }

h3 {
  font-size: 150%;
  color: #942192;
  border-bottom: 2px solid #942192;
  padding-bottom: 3px;
  margin: 20px 0;
}

h4 {
  font-size: 110%;
  color: #942192;
}

h3:before {
  content: '> ';
}

header {
  background: linear-gradient(#942192, #942192);
  color: white;
  padding-top: 75px;
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
}

a, a:visited {
  color: #942192;
  text-decoration: none;
}

a:hover { text-decoration: underline; }
a.no-underline:hover { text-decoration: none; }

.centered {
  margin: 0 auto;
  text-align: center;
}

#face {
  width: 200px;
  height: 200px;
  position: relative;
  top: 100px;
  border-radius: 50%;
  display: block;
  border: 10px solid #fff;
  background-image: url('face.jpg');
  background-position: center center;
  background-size: contain;
}

.cursor:after {
  -webkit-animation: cursorBlink 2s linear 0s infinite;
  -moz-animation: cursorBlink 2s linear 0s infinite;
  -ms-animation: cursorBlink 2s linear 0s infinite;
  -o-animation: cursorBlink 2s linear 0s infinite;
  animation: cursorBlink 2s linear 0s infinite;
  content: '_';
}

@keyframes cursorBlink {
  0%   { opacity: 1; }
  47%  { opacity: 0; }
  50%  { opacity: 1; }
  97%  { opacity: 0; }
  100% { opacity: 1; }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
}

#expertise .grid-box {
  background: #f7f7f7;
  border-radius: 8px;
  width: 49%;
  padding: 40px 0;
}

#help .grid-box {
  padding: 40px 20px;
  flex: 1;
}

.medium { font-size: 600%; }
.big { font-size: 1000%; }

#expertise figure {
  text-align: center;
}

#expertise figure * {
  display: block;
}

#expertise figure figcaption {
  display: block;
  font-size: 140%;
}

#expertise li {
  text-align: center;
  padding: 3px 0;
}

#help figure {
  margin: 30px 0;
}

.plainlist {
  padding: 0 10px;
}

.plainlist li {
  margin: 15px 0;
}

footer {
  background-color: #942192;
  padding: 50px 0;
  margin-top: 150px;
  color: white;
}

footer a {
  color: white;
  font-weight: 700;
}

.react { color: #61dafb; }
.nodejs { color: #026e00; }
.yellow { color: #f7ce02; }
.blue { color: #23aeff; }
.orange { color: #06d69b; }

.super {
  font-size: 70%;
  position: relative;
  bottom: 2px;
}

@media (max-width: 890px) {
  .grid {
    flex-direction: column;
  }

  #help .grid-box, #expertise .grid-box {
    width: 100%;
    margin-bottom: 20px;
  }
}
